<div class="mat-elevation-z8 mx-3 my-3" *ngIf="this.aluno !== undefined">
  <div class="p-2">
    <p class="title mx-3 mt-2 fs-5 text-center">Aluno: {{aluno.nome}}</p>
  </div>

  <form [formGroup]="formGroup">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 card my-3 mx-3" *ngFor="let materia of materia; let i = index">
          <div class="card-body">
            <p class="card-title text-center fs-5">{{materia.title}}</p>
            <div class="d-flex">
              <div class="col-sm-6 col-md-6">
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="1º Nota" formControlName="nota1" mask="0,0">
                    <!--                    [ngClass]="{'is-valid':formGroup.get('nota1')?.valid, 'is-invalid':formGroup.get('nota1')?.invalid}">-->
                  </div>
                </div>
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="2º Nota" formControlName="nota2" mask="0,0">
                  </div>
                </div>
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="3º Nota" formControlName="nota3" mask="0,0">
                  </div>
                </div>
              </div>
<!--              <div class="d-flex justify-content-center">-->
<!--                <div class="spinner-border text-secondary m-5" role="status" *ngIf="loading">-->
<!--                  <span class="visually-hidden">Loading...</span>-->
<!--                </div>-->
<!--              </div>-->

              <div class="col-sm-6 col-md-6" *ngIf="this.nota !== undefined && this.nota?.length > 0">
                <div *ngFor="let notas of nota">
                  <div *ngIf="notas.num_materia === i">
                    <div class="my-1" >
                      <div class="rounded bg-light d-flex me-1 p-1">
                        <input type="text" class="form-control text-center" [value]="notas.nota1" disabled>
                      </div>
                    </div>
                    <div class="my-1">
                      <div class="rounded bg-light d-flex me-1 p-1">
                        <input type="text" class="form-control text-center" [value]="notas.nota2" disabled>
                      </div>
                    </div>
                    <div class="my-1">
                      <div class="rounded bg-light d-flex me-1 p-1">
                        <input type="textr" class="form-control text-center" [value]="notas.nota3" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-outline-dark my-2" (click)="decidir(materia.title,i)">Salvar</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
