<div class="mat-elevation-z8 mx-3 my-3">
  <div class="p-2">
    <p class="title mx-3 mt-2 fs-5 text-center">Aluno: {{aluno.nome}}</p>
  </div>

  <form [formGroup]="formGroup">
    <div class="mx-3">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-4 card my-3 mx-3" *ngFor="let materia of materia; let i = index">
          <div class="card-body">
            <p class="card-title text-center fs-5">{{materia.title}}</p>
            <div class="d-flex">
              <div class="col-sm-6 col-md-6">
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="1º Nota" formControlName="nota1" mask="000">
                  </div>
                </div>
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="2º Nota" formControlName="nota2" mask="000">
                  </div>
                </div>
                <div class="my-1">
                  <div class="rounded bg-primary d-flex me-1 p-1">
                    <input type="text" class="form-control" placeholder="3º Nota" formControlName="nota3" mask="000">
                  </div>
                </div>
              </div>
<!--              <div class="col-sm-6 col-md-6" *ngIf="this.nota[i].materia === materia.title && this.nota[i].materia !== undefined ">-->
<!--                <div class="my-1" >-->
<!--                  <div class="rounded bg-light d-flex me-1 p-1">-->
<!--                    <input type="text" class="form-control text-center" [value]="this.nota[i].nota1" disabled>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="my-1">-->
<!--                  <div class="rounded bg-light d-flex me-1 p-1">-->
<!--                    <input type="text" class="form-control text-center" [value]="this.nota[i].nota2" disabled>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="my-1">-->
<!--                  <div class="rounded bg-light d-flex me-1 p-1">-->
<!--                    <input type="textr" class="form-control text-center" [value]="this.nota[i].nota3" disabled>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-outline-dark my-2" (click)="inserir(materia.title)" >Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    <tr *ngFor="let aluno of nota">-->
    <!--      <td class="py-3">{{aluno.nota1}}</td>-->
    <!--      <td class="py-3">{{ aluno.nota2}}</td>-->
    <!--      <td class="py-3">{{ aluno.nota3}}</td>-->
    <!--    </tr>-->
  </form>
</div>
