<div class="d-flex gap-2 col-4 mx-auto">
  <button type="button" class="btn btn-outline-dark mx-1" (click)="navigateTo('Cadastrar')">Cadastrar <i class="bi bi-check-circle-fill mx-1"></i></button>
  <button type="button" class="btn btn-outline-dark mx-1" (click)="navigateTo('Consultar')">Consultar <i class="bi bi-eyeglasses mx-1"></i></button>
  <button type="button" class="btn btn-outline-dark mx-1" (click)="navigateTo('Desempenho')">Desempenho <i class="bi bi-clipboard-data mx-1"></i></button>
</div>

