<div class="mat-elevation-z8 mx-3 my-3">
    <div class="p-2">
        <p class="title mx-3 mt-2 fs-5"><i class="bi bi-box-seam mx-2"></i> Listagem de Alunos</p>
    </div>

  <div class="d-flex justify-content-center">
    <div class="spinner-border text-secondary m-5" role="status" *ngIf="loading">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <table class="table text-center" *ngIf="alunos !== undefined && alunos.length > 0; else nadaAluno">
    <thead>
    <tr>
      <th scope="col" class="py-3">#</th>
      <th scope="col" class="py-3">CPF</th>
      <th scope="col" class="py-3">Nome</th>
      <th scope="col" class="py-3">Data de Nascimento</th>
      <th scope="col" class="py-3">Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aluno of alunos; let i = index">
      <td class="py-3">{{i+1}}</td>
      <td class="py-3" >{{aluno.CPF | mask: '000.000.000-00'}}</td>
      <td class="py-3">{{ aluno.nome}}</td>
      <td class="py-3">{{ aluno.nascAluno | mask: 'd0/M0/0000'}}</td>
      <td>
        <i type="button" (click)="editarAluno(aluno)" class="text-primary bi bi-pencil-square mx-1" title="Editar"></i>
        <i type="button" (click)="inserirNotas(aluno)" class="text-success bi bi-layout-text-sidebar-reverse mx-1" title="Notas"></i>
        <i type="button" (click)="deletarAluno(aluno)" class="text-danger bi bi-trash3 mx-1" title="Excluir"></i>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #nadaAluno>
    <div class="alert alert-warning" role="alert" *ngIf="!loading">
      Não há nenhum aluno cadastrado!
    </div>
  </ng-template>
</div>
