<p>Conheça um pouco da Professora Ivaneide!</p>

<div class="d-flex">
  <div class="card mx-5" style="width: 18rem;">
    <img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t1.6435-9/75540262_2732023923523225_6616760611160195072_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=5XBIJAA5x7YAX-aT_x5&_nc_ht=scontent.fmao1-1.fna&oh=00_AfDdLaTNCdqbCjsZmeR0zwELKJHQv2E__jUz4jLBuERzBg&oe=63F4D588" class="card-img-top" alt="...">
  </div>

  <div class="card mx-5" style="width: 18rem;">
    <video src="https://www.youtube.com/watch?v=Fgua4hea4KM" class="card-img-top" alt="..."></video>
  </div>

  <div class="card mx-5" style="width: 18rem;">
    <img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t1.6435-9/75540262_2732023923523225_6616760611160195072_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=5XBIJAA5x7YAX-aT_x5&_nc_ht=scontent.fmao1-1.fna&oh=00_AfDdLaTNCdqbCjsZmeR0zwELKJHQv2E__jUz4jLBuERzBg&oe=63F4D588" class="card-img-top" alt="...">
  </div>

  <div class="card mx-5" style="width: 18rem;">
    <img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t1.6435-9/75540262_2732023923523225_6616760611160195072_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=5XBIJAA5x7YAX-aT_x5&_nc_ht=scontent.fmao1-1.fna&oh=00_AfDdLaTNCdqbCjsZmeR0zwELKJHQv2E__jUz4jLBuERzBg&oe=63F4D588" class="card-img-top" alt="...">
  </div>
</div>
